body {
    margin: 0;
}

nav {
    background: rgb(229, 226, 226);
    text-align: center;
    padding: 5px
}

nav li {
    display: inline-block;
}

nav li a {
    color: rgb(17, 150, 35);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}